# Tarea ETL

In [1]:
import os 
from pyspark.sql import functions as f, SparkSession, types as t
from pyspark import SparkContext, SparkConf, SQLContext
from pyspark.sql.functions import udf, col, length, isnan, when, count, regexp_replace
from datetime import datetime

In [11]:
# Configuración servidor base de datos transaccional
# Recuerde usar Estudiante_i como usuario y la contraseña asigana en el excel de conexión a maquina virtual como contraseña
db_user = 'Estudiante_1_202413'
db_psswd = 'aabb1122'
source_db_connection_string = 'jdbc:mysql://157.253.236.120:8080/WWImportersTransactional'

dest_db_connection_string = 'jdbc:mysql://157.253.236.120:8080/Estudiante_i_XXXXXX'

# Driver de conexion
path_jar_driver = 'C:\Program Files (x86)\MySQL\Connector J 8.0\mysql-connector-java-8.0.28.jar'

In [12]:
#Configuración de la sesión
conf=SparkConf() \
    .set('spark.driver.extraClassPath', path_jar_driver)

spark_context = SparkContext(conf=conf)
sql_context = SQLContext(spark_context)
spark = sql_context.sparkSession

In [10]:
#spark.stop()

In [78]:
def obtener_dataframe_de_bd(db_connection_string, sql, db_user, db_psswd):
    df_bd = spark.read.format('jdbc')\
        .option('url', db_connection_string) \
        .option('dbtable', sql) \
        .option('user', db_user) \
        .option('password', db_psswd) \
        .option('driver', 'com.mysql.cj.jdbc.Driver') \
        .load()
    return df_bd

def guardar_db(db_connection_string, df, tabla, db_user, db_psswd):
    df.select('*').write.format('jdbc') \
      .mode('append') \
      .option('url', db_connection_string) \
      .option('dbtable', tabla) \
      .option('user', db_user) \
      .option('password', db_psswd) \
      .option('driver', 'com.mysql.cj.jdbc.Driver') \
      .save()

In [98]:
sql_proveedoresCopia = '''(SELECT DISTINCT ProveedorID as ID_Proveedor_T, NombreProveedor as Nombre, PersonaContactoPrincipalID, DiasPago as Dias_pago, CodigoPostal as Codigo_postal, CategoriaProveedorID as CategoriaProveedorID_FK FROM WWImportersTransactional.proveedoresCopia) AS Temp_proveedores'''
Proveedor = obtener_dataframe_de_bd(source_db_connection_string, sql_proveedoresCopia, db_user, db_psswd)
sql_categorias = '''(SELECT DISTINCT CategoriaProveedorID as CategoriaProveedorID_T, CategoriaProveedor as Categoria FROM WWImportersTransactional.CategoriasProveedores) AS Temp_categorias'''
CategoriasProveedor = obtener_dataframe_de_bd(source_db_connection_string, sql_categorias, db_user, db_psswd)
sql_personas = '''(SELECT DISTINCT ID_persona, NombreCompleto as Contacto_principal FROM WWImportersTransactional.Personas) AS Temp_personas'''
Personas = obtener_dataframe_de_bd(source_db_connection_string, sql_personas, db_user, db_psswd)
Proveedor.show(5)
CategoriasProveedor.show(5)
Personas.show(5)

+--------------+--------------------+--------------------------+---------+-------------+-----------------------+
|ID_Proveedor_T|              Nombre|PersonaContactoPrincipalID|Dias_pago|Codigo_postal|CategoriaProveedorID_FK|
+--------------+--------------------+--------------------------+---------+-------------+-----------------------+
|             4|       Fabrikam Inc.|                        27|       30|        40351|                      4|
|             5|Graphic Design In...|                        29|       14|        64847|                      2|
|             7|        Litware Inc.|                        33|       30|        95245|                      5|
|             9|      Nod Publishers|                        37|        7|        27906|                      2|
|            10|Northwind Electri...|                        39|       30|         7860|                      3|
+--------------+--------------------+--------------------------+---------+-------------+-----------------------+
only showing top 5 rows

+----------------------+-------------------+
|CategoriaProveedorID_T|          Categoria|
+----------------------+-------------------+
|                     1|     otro mayorista|
|                     2|productos novedosos|
|                     3|           juguetes|
|                     4|               ropa|
|                     5|           embalaje|
+----------------------+-------------------+
only showing top 5 rows

+----------+--------------------+
|ID_persona|  Contacto_principal|
+----------+--------------------+
|         1|Data Conversion Only|
|         2|      Kayla Woodcock|
|         3|       Hudson Onslow|
|         4|       Isabella Rupp|
|         5|         Eva Muirden|
+----------+--------------------+
only showing top 5 rows

In [99]:
Proveedor = Proveedor.join(CategoriasProveedor, Proveedor["CategoriaProveedorID_FK"] == CategoriasProveedor["CategoriaProveedorID_T"], "inner")
Proveedor = Proveedor.join(Personas, Proveedor["PersonaContactoPrincipalID"] == Personas["ID_persona"], "inner")
Proveedor = Proveedor.coalesce(1).withColumn('ID_Proveedor_DWH', f.monotonically_increasing_id() + 1)
Proveedor = Proveedor.select('ID_Proveedor_DWH', 'ID_Proveedor_T', 'Nombre', 'Categoria', 'Contacto_principal', 'Dias_pago', 'Codigo_postal')
# Mostrar los primeros 5 registros del resultado
Proveedor.show(5)

+----------------+--------------+-------------------+--------------------+------------------+---------+-------------+
|ID_Proveedor_DWH|ID_Proveedor_T|             Nombre|           Categoria|Contacto_principal|Dias_pago|Codigo_postal|
+----------------+--------------+-------------------+--------------------+------------------+---------+-------------+
|               1|             6|Humongous Insurance|servicios de seguros|Madelaine  Cartier|      -14|        37770|
|               2|            20|  Fabrikam Inc. Ltd|                ropa|       Bill Lawson|       30|        40351|
|               3|             4|      Fabrikam Inc.|                ropa|       Bill Lawson|       30|        40351|
|               4|            26|  Trey Research Inc|servicios de mark...|      Donald Jones|        7|        57543|
|               5|            11|      Trey Research|servicios de mark...|      Donald Jones|       -7|        57543|
+----------------+--------------+-------------------+--------------------+------------------+---------+-------------+
only showing top 5 rows

In [100]:
Proveedor.count()

19